<% layout("/layouts/boilerplate") %>

<div>
    <div class="club-index-v1">
        <h2 class="text-center">CLUBS</h2>
    </div>
    <div class="club-index">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3 mb-5">
            <% for (let club of allClubs) { %>
                <div class="col">
                    <div class="card h-100">
                        <img src="<%= club.image.url %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= club.title %>
                            </h5>
                            <p class="card-text">
                                <%= club.description %>
                            </p>
                            <a href="/clubs/<%= club._id %>" class="btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
